.section-main{
    &-breadcrumb{
        &-link{
            font-size: 14px;
            color: #B7BDC6;
            display: flex;
            gap: 16px;
        }
    }
}
.section-main-info{
    &-names{
        width: 39%;
        padding-top: 3rem;
        &__img{
            height: 3rem;
            width: 3rem;
            margin-right: 24px;
        }
        &__name{
            display: inline;
            font-size: 40px;
            font-weight: 600;
            line-height: 48px;
            color: #1E2329;
            margin-right: 16px;
        }
        &__symbol{
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: #707A8A;
        }
        &__prise{
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            color: #1E2329;
            margin-right: 8px;
            margin-top: 16px;
        }
        &__percent{
            margin-top: 16px;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: green;
        }
    }
}

.flex-container{
    display: flex;
    align-items: center;
}

.flex-container-calc{
    display: flex;
    gap: 2rem;
}