html{
    font-family: Arial,sans-serif;
}

.main-header{
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color:  #2231AA;
    display: flex;
    justify-content: space-between;
    &__container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.main{
    max-width: 1232px;
    margin: 0 auto;
    padding-top: 8rem;
}
